*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}

.scroll-box::-webkit-scrollbar {
    width: 10px;
    /* Largura da barra de rolagem */
}

.scroll-box::-webkit-scrollbar-track {
    background-color: black;
    /* Cor de fundo da barra de rolagem */
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: #E87094;
    /* Cor do polegar da barra de rolagem */
    border-radius: 5px;
    /* Borda arredondada do polegar */
}

.scroll-box::-webkit-scrollbar-thumb:hover {
    background-color: #d44570;
    /* Cor do polegar ao passar o mouse */
}

/*cabeçalho*/
header {
    background-image: url(./img/Mask\ group.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 590px;
}

#txtheader {
    padding-top: 8%;
    padding-left: 3%;
    display: flex;
    text-align: center;
}


.hpink {
    color: #E87094;
    font-family: Bebas Neue;
    font-size: 61px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}

.hwhite {
    color: #FFF;
    font-family: Bebas Neue;
    font-size: 61px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.txtw {
    color: #FFF;
    font-family: 'inter', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}
.txtp {
    color: #E87094;
    font-family: 'inter', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.button {
    color: #FFF;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 443px;
    height: 76px;
    border-radius: 42px;
    background: #E87094;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.50);
    transition:0.3s ;

}
button:hover {
    background: #db1550;
}
.aparecermb{
    display: none;
}

/*secçao 01*/
#sec01 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#livro {
    width: 333px;
    height: 358px;
    padding-left: 20%;
    
}
/*secçao 02*/
#sec02 {
    width: 100%;
    height: 1124px;
    text-align: center;
}

#reasons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.rbox {
    width: 20%;
    height: 362px;
    margin-top: 10%;
    border-radius: 17px;
    background: #1E1E1E;
    position: relative;
}

.circle {
    width: 94px;
    height: 94px;
    background-color: #151515;
    border-radius: 50%;
    color: #E87094;
    text-align: center;
    font-family: Bebas Neue;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 33%;
    top: -12%;
}

.rtxt {
    font-weight: 500;
    text-align: center;
    margin: 71px 25px 26px 19px;
}

#fs02 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.txts02f {
    padding-top: 13px;
    color: #FFF;
    font-family: 'inter', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*secçao 03*/
#sec03 {
    width: 100%;
    height: 924px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s03box {
    padding-top: 5%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 28px;
    background: #1E1E1E;
    display: flex;
    width: 80%;
    min-height: 770px;
}

#imgs03 {
    width: 400px;
    height: 400px;
    padding-right: 45px;
}

/*secçao 04*/
#sec04 {
    width: 100%;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#s04box {
    width: 1240px;
    height: 690px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#txts04 {
    width: 558px;
    height: 690px;
    border-radius: 28px;
    border: 4px solid #E87094;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #1E1E1E

}

.line {
    text-decoration: line-through #E87094;
    text-decoration-thickness: 3px;
    font-size: 30px;

}

.preco {
    font-size: 100px;
}

#imgs04 {
    width: 491px;
    height: 535px;
}

/*secçao 05*/
#author {
    background-image: url(./img/novo\ 3\ 1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 590px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#txts05 {
    padding-left: 30%;
}

#fts {
    display: flex;
    justify-content: space-around;
}
#fts img {
    width: 23%;
    
}

/*secçao 06*/

#boxs05 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10%;

}

.boxss {
    width: 482px;
    height: 431px;
    border-radius: 17px;
    background: #1E1E1E;
    margin-bottom: 5%;

}

.imgtxt {
    display: flex;
    align-items: center;

}

#txt06 {
    text-align: center;
    padding-top: 5%;
}

/*secçao 07*/
#sec07 {
    text-align: center;
}

.spc {
    padding-top: 8%;
}

/*rodape*/

#footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    background: #1E1E1E;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*mobile*/
@media (max-width: 700px) {
    .sumiu {
        display: none;
    }
    .aparecermb {
        display:block
    }
    header {
    height: 200px;
    }  
    #txtheader {
        text-align: left;
    }
    .hpink {
        font-size: 30px;
    }
    .hwhite {
        font-size: 30px;
    }
    .txtp {
        font-size: 15px;
    }
    .txtw {
        font-size: 15px;
    }
    .break {
        display: block;
    }
    .justify {
        padding: 0 10%;
        text-align: center;
    } 
    .button{
        font-size: 15px;
        width: 340PX;
    }
    #sec01 {
        flex-direction: column;
        padding-left:0;
    
    }
    #sec02 {
        height: 350px;
    }
    #livro {
        width: 233px;
        height: 258px;
        padding-bottom: 10%;
        padding-left: 0;
    }
    #reasons {
        display: none;
    }
    #fs02 {
        padding-top: 10%;
    }
    .mbb {
        padding-bottom: 5%;
    }
    .txts02f {
        font-size: 15px;
    }
    
    #s03box{
        flex-direction: column;
        align-items: center;
        padding-bottom: 5%;
    }
    #imgs03{
        width: 80%;
        height: 80%;
        padding-right: 0;
        padding-bottom: 10%;
        padding-top: 10%;
    }
    #fs02 button {
        margin-bottom: 40%;
    }
    #sec04 {
        height: 450px;
    }
    #s04box {
      width: 80%;
      height: 420px;
    }
    #txts04{
        width: 450px;
        height: 400px
    }
    #txts04 a {
        width: 100%;

    }
    #txts04 a button {
        width: 80%;
        font-size: 20px ;
    } 
    
    #imgs04 {
        display: none;
    }
    .preco {
        font-size: 60px;
    }
    #sec05 {
        padding-top: 10%;
    }
    #author {
        align-items: flex-start;
        text-align: left;
        height: 350px;
    }
    #txts05 {
        padding-left: 40%;
        text-align: ;
    }
    #fts {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        
    } 
    #fts img {
        padding-bottom: 5%;
        width: 40%;
        height: 40%;
    }
    #boxs05 {
        flex-direction: column;
    }
    .boxss {
        width: 80%;
        height: 330px;
        margin-bottom: 5%;
    
    }
    #txt06 {
        padding: 10% 5% 0 5%;
    }
    #sec07 {
        padding-top: 10%;
    }
    .spc{
    padding-top: 20%;
     }
    #footer{
        justify-content: space-evenly;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    footer img {
        width: 30%;
        height: 20%;
    }
  }
